<!-- footer-style-2 start-->
<footer class="footer footer--style-2">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <!-- logo start-->
          <div class="footer-logo"><a class="logo" href="index.html">
              <svg class="icon">
                <use xlink:href="#logo"></use>
              </svg><span>Electrobauaz</span></a></div>
          <!-- logo end-->
          <!-- socials start-->
          <nav class="socials-holder">
            <ul class="socials-primary">
              {% for social in company.socials %}
              <li><a href="{{ social.url }}"><i class="fa fa-{{ social.name }}" aria-hidden="true"></i></a></li>
              {% endfor %}
            </ul>
          </nav>
          <!-- socials end -->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- footer contacts start-->
          <div class="footer-contacts">
            <h4 class="title">Subscribe</h4>
            <p class="address">Elliott Avenue, Parkville VIC 3052, Melbourne Canada</p>
            <p class="phone-number">Phone: <a href="tel:+31859644725">+31 85 964 47 25</a></p>
            <p class="e-main">Email: <a href="mailto:r_energy@mail.co">r_energy@mail.co</a></p>
          </div>
          <!-- footer contacts end-->
        </div>
        <div class="col-xl-3 col-md-6">
          <h4 class="title">Company and Links</h4>
          <!-- footer nav start-->
          <nav class="footer-nav">
            <ul class="footer-menu">
              <li class="active"><a href="index-2.html#">Home</a></li>
              <li><a href="index-2.html#">Shop</a></li>
              <li><a href="index-2.html#">About Us</a></li>
              <li><a href="index-2.html#">Blog</a></li>
              <li><a href="index-2.html#">Services</a></li>
              <li><a href="index-2.html#">Elements</a></li>
              <li><a href="index-2.html#">Case studios</a></li>
              <li><a href="index-2.html#">Contacts</a></li>
            </ul>
          </nav>
          <!-- footer nav end-->
        </div>
        <div class="col-xl-3 col-md-6">
          <!-- footer downloads start-->
          <div class="footer-downloads">
            <h4 class="title">Information for Download</h4>
            <p>Direct link for downloading the file which you can use</p><a class="button button--filled"
              href="index-2.html#" data-hover="Download PDF"><span>Download PDF</span></a>
          </div>
          <!-- footer downloads end-->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-lower">
          <div class="row">
            <div class="col-md-6">
              <p class="copyright">© 2019 Electrobauaz Template by Artureanec</p>
            </div>
            <div class="col-md-6">
              <!-- privacy start-->
              <div class="privacy-block"><a href="index-2.html#">Privacy Policy <span class="separator">|</span>
                </a><a href="index-2.html#">Term and Condision</a></div>
              <!-- privacy end-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-style-2 end-->